<h1 class="title">Stupid Coaching</h1>
<h2 class="ques">Question: <%=@question%> </h2>
<h2 class="ans">Answer: <%=@answer %> </h2>

<h1 class="button"><%= link_to "Ask Another Question", ask_path %></h1>
